<a href="https://colab.research.google.com/github/susanna-susanna/dau-homeworks/blob/main/hw_6_%D0%98%D1%81%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B8_%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%BE%D1%88%D0%B8%D0%B1%D0%BE%D0%BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

The Moscow Times - Wednesday, October 2, 2002

The Guardian - Friday, 11.10.13

Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime

In [ ]:
from datetime import timedelta

In [ ]:
datetime.now()

datetime.datetime(2022, 4, 26, 11, 32, 8, 159636)

In [ ]:
# The Moscow Times
tmt = datetime.now().strftime('%A, %B %d, %Y')
print(tmt)

Tuesday, April 26, 2022

In [ ]:
# The Guardian, если дата указана в формате дд-мм-гг
tg = datetime.now().strftime('%A, %d.%m.%Y')
print(tg)

# The Guardian, если дата указана в формате мм-дд-гг
tg_1 = datetime.now().strftime('%A, %m.%d.%Y')
print(tg_1)

Tuesday, 26.04.2022
Tuesday, 04.26.2022

In [ ]:
# Daily News
dn = datetime.now().strftime('%A, %d %B %Y')
print(dn)

Tuesday, 26 April 2022

##Задание 2
Дан поток дат в формате `YYYY-MM-DD`, в которых встречаются некорректные значения:
`stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’`]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02', '2020-05-16', '20220-09-01', '2020-19-01', '2020-09-01']

In [ ]:
def checking(my_list):
  for item in my_list:
    try:
      valid_date = datetime.strptime(item, '%Y-%m-%d')
      print(item)
    except ValueError:
      print(item, 'Invalid date!')

In [ ]:
checking(stream)

2018-04-02
2018-02-29 Invalid date!
2018-19-02 Invalid date!
2020-05-16
20220-09-01 Invalid date!
2020-19-01 Invalid date!
2020-09-01

##Задание 3
Напишите функцию `date_range`, которая возвращает список дат за период от `start_date` до `end_date`. 

Даты должны вводиться в формате `YYYY-MM-DD`. 

В случае неверного формата или при `start_date > end_date` должен возвращаться пустой список.

In [ ]:
start_date = '2018-01-01'
end_date = '2018-14-07'

Во втором задании **корректность формата проверяется с помощью конструкции `try-except**`. Это верный вариант проверки.

Здесь (выделила комментариями неправильное использование строк, чтоб был пример перед глазами) код падает на аналогичных строчках без блока `try-except`:
```
start_date_dt = datetime.strptime(start_day, '%Y-%m-%d')
end_date_dt = datetime.strptime(end_day, '%Y-%m-%d')
```

In [ ]:
def date_list(start_day, end_day):
  # start_date_dt = datetime.strptime(start_day, '%Y-%m-%d')
  # end_date_dt = datetime.strptime(end_day, '%Y-%m-%d')

  my_date_list = []

  if start_day <= end_day:
    # сurrent_dt = start_date_dt
    current_dt = datetime.strptime(start_day, '%Y-%m-%d')

    while current_dt.strftime('%Y-%m-%d') <= end_day:
       my_date_list.append(current_dt.strftime('%Y-%m-%d'))
       current_dt += timedelta(days=1)
        
  for item in my_date_list:
    try:
      start_date_dt = datetime.strptime(start_day, '%Y-%m-%d')
      end_date_dt = datetime.strptime(end_day, '%Y-%m-%d')
      # valid_date = datetime.strptime(item, '%Y-%m-%d') #??? нужна ли теперь эта строка?)
    except ValueError:
      my_date_list = []

  print(my_date_list)

In [ ]:
date_list(start_date, end_date)

[]

##Задание 4 (необязательное)
Ваш коллега прислал код функции:
```
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
```

Удаляет из списка `default_list` последнего пользователя
и возвращает ID нового последнего пользователя.

```
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)
```

```
return default_list[DEFAULT_USER_COUNT-2]
```

При однократном вызове этой функции всё работает корректно:
```
delete_and_return_last_user(1)
‘A101’
```

Однако при повторном вызове получается ошибка `IndexError: list index out of range`.

Задание:

* Что значит ошибка list index out of range?
* Почему при первом запуске функция работает корректно, а при втором — нет?

In [9]:
DEFAULT_USER_COUNT = 3

In [16]:
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)

    return default_list[DEFAULT_USER_COUNT-2]

In [19]:
delete_and_return_last_user(1)

'A101'

In [8]:
delete_and_return_last_user(1)

IndexError: ignored

Ошибка `list index out of range` возникает при попытке доступа к элементу в списке по индексу, выходящему за пределы. Диапазон списка в Python — `[0, n-1]`, где n— количество элементов в списке. При попытке доступа к элементу по индексу за пределами этого диапазона `IndexError: list index out of range` выдается ошибка.

При первичном выполнении кода функции мы удалили последний элемент из списка. Получили длину списка 2, т.е индексы эелеменов будут 0 и 1. Запросили вернуть элемент с индексом 1. Получили.

При вторичном выполнении кода функции мы опять удалили последний элемент списка и длина списка == 1, т.е. индекс этого элемента равен 0. Запросили вернуть элемент с индексом 1. Получаем соответствующую ошибку)

#Полезные ресурсы
[datetime — **Basic date and time types**](https://docs.python.org/3/library/datetime.html)

[strftime() and strptime() Format Codes](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes)

[Проверка даты в Python](https://ru.stackoverflow.com/questions/1024400/%D0%9F%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D0%B0-%D0%B4%D0%B0%D1%82%D1%8B-%D0%B2-python)

[Python args and kwargs: Demystified](https://realpython.com/python-kwargs-and-args/)

[How to Fix IndexError in Python](https://rollbar.com/blog/python-indexerror/#:~:text=The%20Python%20IndexError%3A%20list%20index,with%20the%20len()%20function.)

[Colab 1 с лекции](https://colab.research.google.com/drive/1phk0WE8dNQd7ChYTkYt9RmRnjYtfrNwj)

[Colab 2 с лекции](https://colab.research.google.com/drive/1DcO9Rn_QyHOLzmPyQy2q-6wvfv7NhIn1)

[Colab 3 с лекции](https://colab.research.google.com/drive/1s52ByngS_t9NgSmgEAK9bKcpO9Idncez)

[Colab 4 с лекции](https://colab.research.google.com/drive/1FNb1Xi-wHvcQB5vYrhOWiUblQjMEJqeQ)